services:
  react-dev:
    build: .
    ports:
      - "5173:5173"  # Cambiar de 3000:3000 a 5173:5173
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
